#include <dt-bindings/zmk/matrix_transform.h>
#include <dt-bindings/zmk/rgb.h> // これが必要
#include "aline30.dtsi"

/ {
    chosen {
        zmk,kscan = &kscan0;
        zmk,matrix_transform = &default_transform;
        zmk,underglow = &led_strip; // LEDを使うことを宣言
    };

    // シフトレジスタ定義（変更なし）
    shift_reg: gpio_shift_reg {
        compatible = "zmk,gpio-595";
        label = "SHIFT_REG";
        gpio-controller;
        #gpio-cells = <2>;
        ngpios = <8>;
    };

    kscan0: kscan {
        compatible = "zmk,kscan-gpio-matrix";
        label = "KSCAN";
        diode-direction = "col2row";
        row-gpios
            = <&xiao_d 4 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
            , <&xiao_d 5 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
            , <&xiao_d 6 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
            , <&xiao_d 7 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
            ;
        col-gpios
            = <&xiao_d 1 GPIO_ACTIVE_HIGH>
            , <&xiao_d 2 GPIO_ACTIVE_HIGH>
            , <&xiao_d 3 GPIO_ACTIVE_HIGH>
            , <&shift_reg 0 GPIO_ACTIVE_HIGH>
            , <&shift_reg 1 GPIO_ACTIVE_HIGH>
            , <&shift_reg 2 GPIO_ACTIVE_HIGH>
            , <&shift_reg 3 GPIO_ACTIVE_HIGH>
            , <&shift_reg 4 GPIO_ACTIVE_HIGH>
            , <&shift_reg 5 GPIO_ACTIVE_HIGH>
            , <&shift_reg 6 GPIO_ACTIVE_HIGH>
            ;
    };
};

// D4, D5をRowとして使うためにI2Cを無効化
&xiao_i2c { status = "disabled"; };

// シフトレジスタ制御(D8, D9, D10)
&xiao_spi {
    status = "okay";
    sck-pin = <8>;
    mosi-pin = <10>;
    cs-gpios = <&xiao_d 9 GPIO_ACTIVE_LOW>;

    shift_reg_device: gpio_shift_reg@0 {
        compatible = "zmk,gpio-595";
        reg = <0>;
        spi-max-frequency = <200000>;
    };
};

// 【重要】LED(D0)のための第2 SPI設定
// XIAO BLE(nRF52840)は複数のSPIを持てるため、LED専用に定義します
&spi1 {
    compatible = "nordic,nrf-spim";
    status = "okay";
    sck-pin = <11>;
    mosi-pin = <0>;
    miso-pin = <12>;

    led_strip: ws2812@0 {
        compatible = "worldsemi,ws2812-spi";
        label = "WS2812";
        reg = <0>;
        spi-max-frequency = <4000000>;
        chain-length = <12>;
        spi-one-frame = <0x70>;
        spi-zero-frame = <0x40>;
        color-mapping = <LED_COLOR_ID_GREEN LED_COLOR_ID_RED LED_COLOR_ID_BLUE>;
    };
};
